//Colour Scheme
//$bg-color-primary: #fbfbfc; //Grey
$bg-color-primary: #f7f7f7; //Grey
$bg-color-secondary: #48386b; //Purple
$action-color-primary: #f39b3e; //Gold
$action-color-secondary: #5cb85c; //Green
$text-color-primary: #333; //Black
$text-color-secondary: #f4f4f4; //White

//Social Colours
$bg-color-facebook: #3b5998;
$bg-color-google: #dd4b39;
$bg-color-github: #333;
$bg-color-twitter: #1dcaff;
$bg-color-whatsapp: #25d366;

//Constant Values
$header-height: 60px;
$sidebar-width: 200px;

//Message Colours
$message-color-success: #4f8a10;
$message-color-warning: #9f6000;
$message-color-error: #d8000c;
$message-color-info: #00529b;

//Breakpoints
$xs: 670px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
